* {
    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
}

body {
    background-color: #FDFFFC;
    margin: 0;
    margin-bottom: 75px;
}

p, .edu-list li, .comments h5, h3 {
    color: rgb(23, 39, 54);
}

button {
    background-color: rgb(23, 39, 54);
    color: snow;
    border: none;
    font: inherit;
    padding: 7px;
    margin: 5px;
}

button:hover {
    background-color: snow;
    color: rgb(23, 39, 54);
    border: none;
    cursor: pointer;
    border: 2px solid rgb(23, 39, 54)
}

.nav-list {
    background-color: snow;
    height: 45px;
    border-bottom: 2px solid slategray ;
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
}

.nav-list a:hover {
    border-bottom: 2px solid rgb(23, 39, 54);
    cursor: pointer;
}

.nav-list li {
    color: rgb(38, 32, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px; 
    padding-right: 25px;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 25px;
}

.project {
    border: 2px solid lightgray;
    display: flex;
    margin: 40px;
    padding: 10px;
}

.comments {
    margin-right: 20px;
    margin-left: 20px;
}

.screenshot {
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(38, 32, 78);
    text-align: center;
    height: 50px;
    margin-top: 40px;
}

footer p {
    color: rgb(190, 178, 178);
}

@media screen and (max-width: 815px) {
    .container {
        width: 80%;
    }

    .project {
        flex-direction: column;
        align-content: center;
    }

    .screenshot {
        align-content: center;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    .nav-list li {
        padding-left: 10px; 
        padding-right: 10px;    
    }
}